.platforms-links-container {
  background-color: rgba(54, 102, 147,0.5);
  position: absolute;
  width: 100%;
  bottom: 0;
}

.platforms-links-ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  right: 0;
  list-style: none;
  margin: 0 auto;
  text-align: center;
  padding: 0 7.4vw;
}

.platform-link-li {
  margin: 2px 5px;
}

.platform-link-li a img {
  max-width: 6.5vmax;
  filter: grayscale(50%);
}
