@import url('https://fonts.googleapis.com/css?family=Ovo');

html, body {
  margin: 0;
  font-family: Ovo, Georgia, sans-serif;
}
body {
  background-image: url("img/guitar_cropped_xparent_bkgd.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
